---
title: Topics
layout: default
description: Browse notes by topic
header-img: "img/tag-bg.jpg"
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" id="tag-heading"><h1>{{ page.title }}</h1><span class="subheading">{{ page.description }}</span></div>
    </div></div></div>
</header>

<main class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div id="tag_cloud" class="tags">
        {% for tag in site.tags %}<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>{% endfor %}
    </div>
    {% for tag in site.tags %}
    <section class="one-tag-list">
        <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}"><span class="tag-text">{{ tag[0] }}</span></span>
        {% for post in tag[1] %}
        <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title">{{ post.title }}</h2>{% if post.subtitle %}<h3 class="post-subtitle">{{ post.subtitle }}</h3>{% endif %}</a>
            <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
        </article><hr>
        {% endfor %}
    </section>
    {% endfor %}
</div></div></main>
